@page
@model ITHS_CMSProject.Pages.Title.IndexModel
@{
    Layout = "Admin_Layout";
}


<p> <a asp-page="Create">Create New Title</a> </p>

<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].ShortDescription)
            </th>
    
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Admin)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TitleId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.TitleId">Delete</a>
            </td>
        </tr>

    }
    </tbody>

</table>